# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB Configuration
MONGODB_URI=mongodb+srv://Jobdhundo:Jobdhundo%401234@jobdundho.ozqwu6u.mongodb.net/jobportal?retryWrites=true&w=majority

# JWT Secret Key
JWT_SECRET=jobhuntting_super_secret_key_123

# JWT Expiration
JWT_EXPIRE=7d

# Frontend URL (for CORS)
FRONTEND_URL=https://lastone-frontend.onrender.com
